/*
     login.css

	Software Engingeering - Fall 2020
	
	Contributors:
		Theresa Clarke 
    		James Heading 
		Keenan King 
   		Shannon Power 
		Hannah Serroul 
		Ben Wright 

    CSS for: 
            login.html
*/

.loginContent {
    margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 15px;
	white-space: pre;
	
}

#loginPage {
	justify-content: center;
	flex-direction: column;
	border: 5px;
	margin-top: 80px;
	height: 400px;
	width: 400px;
	margin-left: 475px;
	background: #DEECF9;
	border: 2px solid #106ebe;
	box-shadow: 8px 8px 10px #aaaaaa;
}

#loginTitle {
	font-size: 25px;
	font-weight: bold;
}

.button-style{
	border-width: 1px;
	border-color: #edebe8;
	border-radius: 3px;
	margin-left: 20px;
}

.welcome { 
	margin-left: 40px;
	margin-top: 30px;
	font-size: 23px;
}

.form-control {
	margin-left: 25px;
	border-radius: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #106ebe;
}
